{%extends 'global/base.html'%}

{% block 'title'%}Dashboard ({{request.user.username}})| {% endblock %}

{% block 'content'%}

  <div class="main-content center container">
    <h2>Dashboard de {{request.user.username}}</h2>
    {% include 'authors/partials/login_message.html'%}
    {% include 'global/messages.html' %}

    <div class="authors-dashboard-container">
      <h3>Your recipes</h3>
      <ul>
        {% for recipe in recipes %}
        <li>
          <div class="inline-info">
              <a href="{% url 'authors:dashboard_recipe_edit' recipe.id%}">{{recipe.title}}</a>
              <div class="lado-oposto">
                <form class="inline-form form-delete" action="{% url 'authors:dashboard_recipe_delete' recipe.id%}" method="POST">{% csrf_token %}
                  <input type="hidden" name="username" value="{{request.user.username}}">
                  <button class="plaintext-button inline-button" type="submit">X</button>
                
                </form>
              </div>
            </div>
      
        </li>
        {% empty %}
        <li>
          <p>You do not have recipes, please create one.</p>
        </li>

        {% endfor %}

      </ul>
    </div>
  </div>




{% endblock%}
  
